Repository ALOC-UOS/aloc-backend-v1, pull requests merged in 2024-07, with the labels that each got.

#23 feat: add Problem controller & service test
  src/test/java/com/aloc/aloc/auth/controller/AuthControllerTest.java
  src/test/java/com/aloc/aloc/auth/service/AuthServiceTest.java
  src/test/java/com/aloc/aloc/problem/controller/ProblemControllerTest.java
  src/test/java/com/aloc/aloc/problem/service/ProblemServiceTest.java
Labels: ✅ Test

#22 feat: add crawling problems by problem type
  build.gradle
  src/main/java/com/aloc/aloc/AlocApplication.java
  src/main/java/com/aloc/aloc/algorithm/Algorithm.java
  src/main/java/com/aloc/aloc/algorithm/enums/CourseRoutineTier.java
  src/main/java/com/aloc/aloc/algorithm/repository/AlgorithmRepository.java
  src/main/java/com/aloc/aloc/algorithm/scheduler/AlgorithmScheduler.java
  src/main/java/com/aloc/aloc/algorithm/service/CrawlingService.java
  src/main/java/com/aloc/aloc/problem/entity/Problem.java
  src/main/java/com/aloc/aloc/problem/repository/ProblemRepository.java
  src/main/java/com/aloc/aloc/problem/scheduler/ProblemScheduler.java
  src/main/java/com/aloc/aloc/problem/service/ProblemFacade.java
  src/main/java/com/aloc/aloc/problem/service/ProblemService.java
  src/main/java/com/aloc/aloc/problemtag/ProblemTag.java
  src/main/java/com/aloc/aloc/problemtag/repository/ProblemTagRepository.java
  src/main/java/com/aloc/aloc/problemtype/ProblemType.java
  src/main/java/com/aloc/aloc/problemtype/repository/ProblemTypeRepository.java
  src/main/java/com/aloc/aloc/tag/repository/TagRepository.java
  src/test/java/com/aloc/aloc/algorithm/repository/AlgorithmRepositoryTest.java
  src/test/java/com/aloc/aloc/algorithm/service/CrawlingServiceTest.java
Labels: ✨ Feature, ✅ Test

#24 feat: 오늘의 문제 관련 API
  build.gradle
  src/main/java/com/aloc/aloc/algorithm/Algorithm.java
  src/main/java/com/aloc/aloc/global/config/SecurityConfig.java
  src/main/java/com/aloc/aloc/global/domain/AuditingTimeEntity.java
  src/main/java/com/aloc/aloc/problem/controller/ProblemController.java
  src/main/java/com/aloc/aloc/problem/dto/response/ProblemResponseDto.java
  src/main/java/com/aloc/aloc/problem/entity/Problem.java
  src/main/java/com/aloc/aloc/problem/entity/SolvedProblem.java
  src/main/java/com/aloc/aloc/problem/repository/ProblemRepository.java
  src/main/java/com/aloc/aloc/problem/repository/ProblemSolvingCountProjection.java
  src/main/java/com/aloc/aloc/problem/repository/SolvedProblemRepository.java
  src/main/java/com/aloc/aloc/problem/scheduler/ProblemScheduler.java
  src/main/java/com/aloc/aloc/problem/service/ProblemFacade.java
  src/main/java/com/aloc/aloc/problem/service/ProblemMapper.java
  src/main/java/com/aloc/aloc/problem/service/ProblemService.java
  src/main/java/com/aloc/aloc/problem/service/ProblemSolvingService.java
  src/main/java/com/aloc/aloc/problemtype/ProblemType.java
  src/main/java/com/aloc/aloc/problemtype/repository/ProblemTypeRepository.java
  src/main/java/com/aloc/aloc/scheduler/ProblemCrawlingScheduler.java
  src/main/java/com/aloc/aloc/scraper/ProblemScraperService.java
  src/main/java/com/aloc/aloc/scraper/SolvedScrapingService.java
  src/main/java/com/aloc/aloc/user/User.java
  src/test/java/com/aloc/aloc/algorithm/repository/AlgorithmRepositoryTest.java
  src/test/java/com/aloc/aloc/problem/controller/ProblemControllerTest.java
  src/test/java/com/aloc/aloc/problem/repository/ProblemDummyEntity.java
  src/test/java/com/aloc/aloc/problem/repository/ProblemRepositoryTest.java
  src/test/java/com/aloc/aloc/problem/repository/SolvedProblemDummyEntity.java
  src/test/java/com/aloc/aloc/problem/repository/SolvedProblemRepositoryTest.java
  src/test/java/com/aloc/aloc/problem/service/ProblemServiceTest.java
  src/test/java/com/aloc/aloc/scraper/service/ProblemScraperServiceTest.java
Labels: ✨ Feature, ✅ Test

#28 feat: user 회원가입 시 profile number 불러오는 로직 추가
  src/main/java/com/aloc/aloc/auth/service/AuthService.java
  src/main/java/com/aloc/aloc/global/apipayload/GlobalExceptionHandler.java
  src/main/java/com/aloc/aloc/global/apipayload/exception/ScrapException.java
  src/main/java/com/aloc/aloc/scheduler/ProblemCrawlingScheduler.java
  src/main/java/com/aloc/aloc/scraper/BaekjoonRankScrapingService.java
  src/main/java/com/aloc/aloc/scraper/GithubProfileScrapingService.java
  src/main/java/com/aloc/aloc/scraper/ProblemScrapingService.java
  src/main/java/com/aloc/aloc/user/User.java
  src/main/java/com/aloc/aloc/user/dto/request/UserRequestDto.java
  src/main/java/com/aloc/aloc/user/dto/response/UserResponseDto.java
  src/test/java/com/aloc/aloc/auth/service/AuthServiceTest.java
  src/test/java/com/aloc/aloc/problem/service/ProblemServiceTest.java
  src/test/java/com/aloc/aloc/scraper/service/ProblemScraperServiceTest.java
Labels: ✨ Feature

#30 feat: add controller test
  src/test/java/com/aloc/aloc/user/service/UserServiceTest.java
Labels: ✅ Test

#40 feat: get algorithm only hidden is false
  src/main/java/com/aloc/aloc/algorithm/controller/AlgorithmController.java
  src/main/java/com/aloc/aloc/algorithm/dto/response/AlgorithmDto.java
  src/main/java/com/aloc/aloc/algorithm/repository/AlgorithmRepository.java
  src/main/java/com/aloc/aloc/algorithm/service/AlgorithmService.java
  src/test/java/com/aloc/aloc/algorithm/controller/AlgorithmControllerTest.java
  src/test/java/com/aloc/aloc/algorithm/repository/AlgorithmRepositoryTest.java
  src/test/java/com/aloc/aloc/algorithm/service/AlgorithmServiceTest.java
Labels: 🐞 BugFix, ✨ Feature

#36 feat: add get solved problems by user API
  src/main/java/com/aloc/aloc/problem/controller/ProblemController.java
  src/main/java/com/aloc/aloc/problem/repository/SolvedProblemRepository.java
  src/main/java/com/aloc/aloc/problem/service/ProblemFacade.java
  src/main/java/com/aloc/aloc/problem/service/ProblemMapper.java
  src/main/java/com/aloc/aloc/problem/service/ProblemService.java
  src/main/java/com/aloc/aloc/problem/service/ProblemSolvingService.java
  src/test/java/com/aloc/aloc/problem/service/ProblemFacadeTest.java
  src/test/java/com/aloc/aloc/problem/service/ProblemServiceTest.java
Labels: ✨ Feature

#37 feat: add unsolved problem list by user
  src/main/java/com/aloc/aloc/problem/controller/ProblemController.java
  src/main/java/com/aloc/aloc/problem/repository/ProblemRepository.java
  src/main/java/com/aloc/aloc/problem/repository/SolvedProblemRepository.java
  src/main/java/com/aloc/aloc/problem/service/ProblemFacade.java
  src/main/java/com/aloc/aloc/problem/service/ProblemService.java
Labels: ✨ Feature, ✅ Test

#41 feat: get history api
  src/main/java/com/aloc/aloc/history/History.java
  src/main/java/com/aloc/aloc/history/controller/HistoryController.java
  src/main/java/com/aloc/aloc/history/dto/response/HistoryContentDto.java
  src/main/java/com/aloc/aloc/history/dto/response/HistoryResponseDto.java
  src/main/java/com/aloc/aloc/history/repository/HistoryRepository.java
  src/main/java/com/aloc/aloc/history/service/HistoryService.java
  src/test/java/com/aloc/aloc/history/controller/HistoryControllerTest.java
  src/test/java/com/aloc/aloc/history/repository/HistoryRepositoryTest.java
  src/test/java/com/aloc/aloc/history/service/HistoryServiceTest.java
Labels: ✨ Feature, ✅ Test

#56 fix: solved Problem 로직 변경
  src/main/java/com/aloc/aloc/algorithm/enums/CourseRoutineTier.java
  src/main/java/com/aloc/aloc/problem/controller/ProblemController.java
  src/main/java/com/aloc/aloc/problem/entity/UserProblem.java
  src/main/java/com/aloc/aloc/problem/repository/ProblemRepository.java
  src/main/java/com/aloc/aloc/problem/repository/SolvedProblemRepository.java
  src/main/java/com/aloc/aloc/problem/repository/UserProblemRepository.java
  src/main/java/com/aloc/aloc/problem/service/ProblemFacade.java
  src/main/java/com/aloc/aloc/problem/service/ProblemMapper.java
  src/main/java/com/aloc/aloc/problem/service/ProblemService.java
  src/main/java/com/aloc/aloc/problem/service/ProblemSolvingService.java
  src/main/java/com/aloc/aloc/user/dto/response/UserDetailResponseDto.java
  src/main/java/com/aloc/aloc/user/service/UserFacade.java
  src/main/java/com/aloc/aloc/user/service/UserSortingService.java
  src/test/java/com/aloc/aloc/problem/controller/ProblemControllerTest.java
  src/test/java/com/aloc/aloc/problem/repository/SolvedProblemDummyEntity.java
  src/test/java/com/aloc/aloc/problem/repository/UserProblemRepositoryTest.java
  src/test/java/com/aloc/aloc/problem/service/ProblemFacadeTest.java
  src/test/java/com/aloc/aloc/problem/service/ProblemServiceTest.java
  src/test/java/com/aloc/aloc/user/service/UserFacadeTest.java
Labels: ✨ Feature, 🤷🏻‍♀️ help wanted, ✅ Test

#57 feat: add solvedProblem record when new member is added
  src/main/java/com/aloc/aloc/problem/repository/ProblemRepository.java
  src/main/java/com/aloc/aloc/problem/service/ProblemService.java
  src/main/java/com/aloc/aloc/problem/service/ProblemSolvingService.java
  src/main/java/com/aloc/aloc/scraper/SolvedScrapingService.java
  src/main/java/com/aloc/aloc/user/controller/UserController.java
  src/main/java/com/aloc/aloc/user/service/UserFacade.java
  src/main/java/com/aloc/aloc/user/service/UserService.java
  src/test/java/com/aloc/aloc/user/service/UserFacadeTest.java
  src/test/java/com/aloc/aloc/user/service/UserServiceTest.java
Labels: ✨ Feature

#59 fix: solved/unsolved problem 조회에 season 추가 & 함수 추상화
  src/main/java/com/aloc/aloc/problem/controller/ProblemController.java
  src/main/java/com/aloc/aloc/problem/repository/UserProblemRepository.java
  src/main/java/com/aloc/aloc/problem/service/ProblemFacade.java
  src/main/java/com/aloc/aloc/problem/service/ProblemSolvingService.java
  src/main/java/com/aloc/aloc/user/service/UserFacade.java
  src/test/java/com/aloc/aloc/problem/service/ProblemFacadeTest.java
Labels: 🐞 BugFix, ✨ Feature

#73 fix: choose Course when user sign-up
  src/main/java/com/aloc/aloc/user/User.java
  src/main/java/com/aloc/aloc/user/dto/request/UserRequestDto.java
  src/test/java/com/aloc/aloc/auth/controller/AuthControllerTest.java
  src/test/java/com/aloc/aloc/color/controller/ColorControllerTest.java
  src/test/java/com/aloc/aloc/history/service/HistoryServiceTest.java
  src/test/java/com/aloc/aloc/problem/service/ProblemFacadeTest.java
  src/test/java/com/aloc/aloc/user/service/UserFacadeTest.java
Labels: ✨ Feature

#76 63 edit earning coin logic
  src/main/java/com/aloc/aloc/problem/repository/ProblemRepository.java
  src/main/java/com/aloc/aloc/problem/repository/UserProblemRepository.java
  src/main/java/com/aloc/aloc/problem/service/CoinService.java
  src/main/java/com/aloc/aloc/problem/service/ProblemSolvingService.java
  src/test/java/com/aloc/aloc/problem/service/CoinServiceTest.java
Labels: ✨ Feature, ✅ Test, ✅ Done

#74 feat: issue 69 jwt 관련 api 수정
  src/main/java/com/aloc/aloc/auth/controller/AuthController.java
  src/main/java/com/aloc/aloc/color/controller/ColorController.java
  src/main/java/com/aloc/aloc/global/config/SwaggerConfig.java
  src/main/java/com/aloc/aloc/global/jwt/filter/JwtAuthenticationProcessingFilter.java
  src/main/java/com/aloc/aloc/global/login/handler/JwtProviderHandler.java
  src/main/java/com/aloc/aloc/problem/controller/ProblemController.java
  src/main/java/com/aloc/aloc/user/controller/UserController.java
  src/test/java/com/aloc/aloc/global/jwt/filter/JwtFilterAuthenticationTest.java
  src/test/java/com/aloc/aloc/problem/service/ProblemFacadeTest.java
Labels: ✨ Feature, 🙋🏻 Question, ✅ Test, ✅ Done

#77 UserProblem 관련 수정
  src/main/java/com/aloc/aloc/algorithm/enums/CourseRoutineTier.java
  src/main/java/com/aloc/aloc/problem/repository/ProblemRepository.java
  src/main/java/com/aloc/aloc/problem/repository/UserProblemRepository.java
  src/main/java/com/aloc/aloc/problem/service/ProblemFacade.java
  src/main/java/com/aloc/aloc/problem/service/ProblemSolvingService.java
  src/main/java/com/aloc/aloc/scheduler/ProblemCrawlingScheduler.java
  src/main/java/com/aloc/aloc/scraper/ProblemScrapingService.java
  src/main/java/com/aloc/aloc/scraper/SolvedScrapingService.java
  src/main/java/com/aloc/aloc/user/User.java
  src/main/java/com/aloc/aloc/user/service/UserFacade.java
  src/main/java/com/aloc/aloc/user/service/UserService.java
  src/test/java/com/aloc/aloc/problem/repository/ProblemRepositoryTest.java
  src/test/java/com/aloc/aloc/scraper/service/ProblemScraperServiceTest.java
  src/test/java/com/aloc/aloc/user/service/UserFacadeTest.java
Labels: 🐞 BugFix, ✨ Feature, 🚧 Doing

#82 해결되지 않은 문제 체크 관련 수정
  src/main/java/com/aloc/aloc/problem/service/ProblemFacade.java
  src/main/java/com/aloc/aloc/problem/service/ProblemSolvingService.java
  src/main/java/com/aloc/aloc/scraper/SolvedScrapingService.java
  src/main/java/com/aloc/aloc/user/service/UserFacade.java
  src/test/java/com/aloc/aloc/problem/service/ProblemFacadeTest.java
Labels: ✨ Feature, ✅ Test, ✅ Done

#84 facade service 함수명 변경 및 의존성 정리
  src/main/java/com/aloc/aloc/algorithm/service/AlgorithmService.java
  src/main/java/com/aloc/aloc/problem/controller/ProblemController.java
  src/main/java/com/aloc/aloc/problem/repository/UserProblemRepository.java
  src/main/java/com/aloc/aloc/problem/service/CoinService.java
  src/main/java/com/aloc/aloc/problem/service/ProblemFacade.java
  src/main/java/com/aloc/aloc/problem/service/ProblemMapper.java
  src/main/java/com/aloc/aloc/problem/service/ProblemService.java
  src/main/java/com/aloc/aloc/problem/service/ProblemSolvingService.java
  src/main/java/com/aloc/aloc/problem/service/UserProblemRecordLoader.java
  src/main/java/com/aloc/aloc/problem/service/UserProblemService.java
  src/main/java/com/aloc/aloc/scraper/ProblemScrapingService.java
  src/main/java/com/aloc/aloc/scraper/SolvedCheckingService.java
  src/main/java/com/aloc/aloc/user/controller/UserController.java
  src/main/java/com/aloc/aloc/user/service/UserFacade.java
  src/main/java/com/aloc/aloc/user/service/UserMapper.java
  src/main/java/com/aloc/aloc/user/service/UserRegistrationService.java
  src/main/java/com/aloc/aloc/user/service/UserService.java
  src/main/java/com/aloc/aloc/user/service/UserSortingService.java
  src/test/java/com/aloc/aloc/problem/controller/ProblemControllerTest.java
  src/test/java/com/aloc/aloc/problem/service/ProblemFacadeTest.java
  src/test/java/com/aloc/aloc/problem/service/ProblemServiceTest.java
  src/test/java/com/aloc/aloc/scraper/service/ProblemScraperServiceTest.java
  src/test/java/com/aloc/aloc/user/service/UserFacadeTest.java
Labels: 🐞 BugFix, ✅ Done
